<link rel="stylesheet" href="index.css">
<h1>Miso Chat</h1>

<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="send a message" required></input>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Send</button>
</form>

<div id="chat">
  <div id="msgs"></div>
  <% @messages.each do |message| %>
    <div id="msgs"><%= message.content %></div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var show = function(message){
      $('#msgs').append(message + '</br>');
    }

    var web_socket = new WebSocket('ws://' + window.location.host + window.location.pathname);
    web_socket.onopen = function() { show('Chat opened') }
    web_socket.onclose = function() { show('Chat closed') }
    web_socket.onmessage = function(m) { show('Chat message: ' + m.data) }

    var form = $('form'),
        input = form.find('input');

    input.click(function(){
      input.val("");
    });

    form.submit(function(){
      web_socket.send(input.val());
      input.val("");
      return false;
    });
  });
</script>
